@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* importa a fonte 'Montserrat' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); /* importa a fonte 'Lemon' do Google Fonts */

:root { /* Define variáveis globais (que podem ser usadas em qualquer lugar do arquivo) */
    --laranja-claro: #FF862A;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
    /* As linhas seguintes criam variáveis com nomes fáceis de entender (como --laranja-claro) para armazenar cores */
}

body { /* Seleciona o corpo do documento HTML */
    font-size: 1rem; /* Define o tamanho da fonte padrão para o corpo */
    font-family: 'Montserrat'; /* Define a fonte 'Montserrat' como a padrão para o texto */
}

header { /* Seleciona o elemento de cabeçalho da página */
    background-color: #ffffff;
    /* muda a cor de fundo do cabeçalho da página para branco */
}


section {
    padding-bottom: 5rem;
} /* Esse código CSS adiciona um espaço de 5rem na parte de baixo de todas as seções da sua página */


.nav-link { /* seleciona todos os elementos HTML que têm a classe nav-link para que você possa estilizar eles */
    color: #CB6D43; /* Define a cor do texto do link */
    font-weight: 600; /* Deixa o texto do link mais grosso (em negrito) */
}

.inicio-fundo {
    background-image: url('img/4965007.jpg'); 
    /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível. */
    background-position: right; /* Alinha a imagem à direita. */
    border-radius: 80px; /*  Arredonda os cantos. */
    width: 100%; /* Definem a largura e a altura do elemento. */
    height: 606px; /* Definem a largura e a altura do elemento. */
    padding: 40px; /* Cria um espaço interno */
    margin: 0 auto; /* Centraliza o elemento. */
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat,
        url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
    /* Ajuste o tamanho conforme necessário */
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #FAF4F4;

}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #CB6D43;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #tropicalia {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}
